[Desktop Entry]
Name=wxCas
Exec=wxcas
Icon=wxcas
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=wMule online statistics
Comment[de]=wMule-Onlinestatistik
Comment[fr]=Statistiques de wMule en ligne
Comment[hu]=wMule online statisztikák
Comment[tr]=Çevrim içi wMule istatistikleri
Comment[zh_CN]=wMule在线统计
Comment[it]=Statistiche online di wMule
Comment[it_CH]=Statistiche online di wMule
